* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

ul {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 10px;
}

.list__item--set {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  gap: 5px;
}

.list__item--one {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-weight: 500;
  gap: 5px;
}

.item__text {
  font-size: 18px;
  font-weight: 400;
}
